.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content button {
    background-color: #ccc;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
}

.modal-overlay {
    display: flex;
    background-color: rgb(28, 29, 39);
    color: rgb(163, 166, 194);
    font-weight: 500;
    border: 1px solid rgb(57, 62, 90);
    margin: auto;
    border-radius: 6px;
    flex-direction: column;
    overflow: hidden;
}

.modal-content {
    padding: 0.5rem;
}